.buttonGreen {
  background-color: #7DA93A;
  color: white;
}
.buttonBlue {
  background-color: #212BAB;
  color: white;
}
.buttonBlue, .buttonGreen {
  font-family: 'Tahoma';
  font-size: 15px;
}
.txtEmail {
  width: 100%;
}
.msgError {
  font-size: 15px;
}