<mat-card>
  <mat-card-title>Registro</mat-card-title>
  <mat-card-content>
    <mat-form-field class="txtEmail" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input [(ngModel)]="password" matInput required [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <mat-error class="msgError" *ngIf="msgError">Correo y contraseña inválidos</mat-error>
  <mat-card-actions>
    <button routerLink="/register" class="buttonBlue" mat-button>Regístrate</button>
    <button (click)="login()" class="buttonGreen" mat-button>Iniciar Sesión</button>
  </mat-card-actions>
</mat-card>
